<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="styles.css">
<body>
    <!-- <p>Body of html doc <%= locals.name %></p> -->
    <!-- locals.nambo - no err -->

    <!-- form creation -->
    <main>
    <form method = "post" action = "/contact">
        <label>Name : </label>
        <input type="text" name = "name"/>

        <label>Email : </label>
        <input type="email" name = "email"/>

        <label>Message : </label>
        <input type="text" name = "Message"/>

        <button type = "submit">Send Mail</button>
    </form> 
    </main>
</body>
</html>